<div class="content">
    <p class="text">
        {{paragraph}}
    </p>
    <form action="/images" method="POST" enctype="application/x-www-form-urlencoded" class="form">
        <label for="select" class="label">SELECT CATEGORY</label>
        <select name="category" id="select">
            <option value="ALL CATEGORIES">ALL CATEGORIES</option>
            <option value="MOUNTAINS">MOUNTAINS</option>
            <option value="OCEAN LIFE">OCEAN LIFE</option>
            <option value="THE WILD">THE WILD</option>
            <option value="SPACE">SPACE</option>
            <option value="PEOPLE">PEOPLE</option>
        </select>
        <input type="submit" value="submit" class="submit">
    </form>
</div>