html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.images {
  width: 100%;
  height: 1000px;
  overflow-y: scroll;
  background: url("../img/globe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
}

.images .anchor {
  display: block;
  width: 50%;
  margin: 100px 58% 0 2%;
  height: 40px;
}

.images .anchor .button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  background-color: #fff7cc;
  border-radius: 10px;
}

.images .anchor .button:hover {
  color: white;
  background-color: #ff7300;
}

.images .media-list {
  width: 100%;
  padding-bottom: 300px;
}

.images .media-list .list-item {
  width: 90%;
  margin: 15px 8% 100px 2%;
  height: 350px;
}

.images .media-list .list-item .image {
  width: 100%;
  height: 80%;
}

.images .media-list .list-item .name {
  width: 100%;
  color: #fff7cc;
  margin-top: 5px;
}

.images .media-list .list-item .description {
  width: 100%;
  color: #fff7cc;
  margin-top: 10px;
}

.images .media-list .list-item .author {
  width: 100%;
  color: #fff7cc;
  margin-top: 10px;
  opacity: 0.6;
}

.images .media-list .list-item .time {
  width: 100%;
  color: #fff7cc;
  margin-top: 2px;
  opacity: 0.6;
}

.images .notice {
  color: #05b4b4;
  font-style: italic;
  width: 98%;
  margin-left: 2%;
}

.images .back-anchor {
  display: block;
  width: 30%;
  margin: 100px 78% 0 2%;
  height: 40px;
}

.images .back-anchor .back-button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  background-color: #fff7cc;
  border-radius: 10px;
}

.images .back-anchor .back-button:hover {
  color: white;
  background-color: #ff7300;
}

@media only screen and (min-width: 700px) {
  .images {
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
    background: url("../img/globe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5px;
  }
  .images .anchor {
    display: block;
    width: 20%;
    margin: 50px 58% 0 2%;
    height: 40px;
  }
  .images .anchor .button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    background-color: #fff7cc;
    border-radius: 10px;
  }
  .images .anchor .button:hover {
    color: white;
    background-color: #ff7300;
  }
  .images .media-list {
    width: 100%;
    padding-bottom: 300px;
  }
  .images .media-list .list-item {
    width: 40%;
    margin: 15px 58% 100px 2%;
    height: 500px;
  }
  .images .media-list .list-item .image {
    width: 100%;
    height: 80%;
  }
  .images .media-list .list-item .name {
    width: 100%;
    color: #fff7cc;
    margin-top: 5px;
  }
  .images .media-list .list-item .description {
    width: 100%;
    color: #fff7cc;
    margin-top: 10px;
  }
  .images .media-list .list-item .author {
    width: 100%;
    color: #fff7cc;
    margin-top: 10px;
    opacity: 0.6;
  }
  .images .media-list .list-item .time {
    width: 100%;
    color: #fff7cc;
    margin-top: 2px;
    opacity: 0.6;
  }
  .images .notice {
    color: #05b4b4;
    font-style: italic;
    width: 98%;
    margin-left: 2%;
  }
  .images .back-anchor {
    display: block;
    width: 15%;
    margin: 100px 93% 0 2%;
    height: 40px;
  }
  .images .back-anchor .back-button {
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    background-color: #fff7cc;
    border-radius: 10px;
  }
  .images .back-anchor .back-button:hover {
    color: white;
    background-color: #ff7300;
  }
}
/*# sourceMappingURL=image.css.map */