html,
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.images{
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
    background: url('../img/globe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5px;
    .anchor{
        display: block;
        width: 50%;
        margin: 100px 58% 0 2%;
        height: 40px;
        .button{
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-align: center;
            background-color: rgb(255, 247, 204);
            border-radius: 10px;
        }
        .button:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
    .media-list{
        width: 100%;
        padding-bottom: 300px;
        .list-item{
            width: 90%;
            margin: 15px 8% 200px 2%;
            height: 350px;
            .image{
                width: 100%;
                height: 80%;
            }
            .name{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 5px;
            }
            .description{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 10px;
            }
            .author{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 10px;
                opacity: 0.6;
            }
            .time{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 2px;
                opacity: 0.6;
            }
        }
    }
    .notice{
        color: rgb(5, 180, 180);
        font-style: italic;
        width: 98%;
        margin-left: 2%;
    }
    .back-anchor{
        display: block;
        width: 30%;
        margin: 100px 78% 0 2%;
        height: 40px;
        .back-button{
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-align: center;
            background-color: rgb(255, 247, 204);
            border-radius: 10px;
        }
        .back-button:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
}

@media only screen and (min-width: 700px){
.images{
    width: 100%;
    height: 1000px;
    overflow-y: scroll;
    background: url('../img/globe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 5px;
    .anchor{
        display: block;
        width: 20%;
        margin: 50px 58% 0 2%;
        height: 40px;
        .button{
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-align: center;
            background-color: rgb(255, 247, 204);
            border-radius: 10px;
        }
        .button:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
    .media-list{
        width: 100%;
        padding-bottom: 300px;
        .list-item{
            width: 40%;
            margin: 15px 58% 200px 2%;
            height: 500px;
            .image{
                width: 100%;
                height: 80%;
            }
            .name{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 5px;
            }
            .description{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 10px;
            }
            .author{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 10px;
                opacity: 0.6;
            }
            .time{
                width: 100%;
                color:  rgb(255, 247, 204);
                margin-top: 2px;
                opacity: 0.6;
            }
        }
    }
    .notice{
        color: rgb(5, 180, 180);
        font-style: italic;
        width: 98%;
        margin-left: 2%;
    }
    .back-anchor{
        display: block;
        width: 15%;
        margin: 100px 93% 0 2%;
        height: 40px;
        .back-button{
            width: 100%;
            height: 100%;
            font-size: 16px;
            text-align: center;
            background-color: rgb(255, 247, 204);
            border-radius: 10px;
        }
        .back-button:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
}
}