html,
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.upload-section{
    background: url('../img/globe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    margin-top: 100px;
    .upload-paragraph{
        width: 98%;
        margin-left: 2%;
        font-size: 40px;
        font-weight: 100;
        opacity: 0.6;
        margin-bottom: 10px;
    }
    .upload-form{
        width: 100%;
        .upload-label{
            display: block;
            width: 98%;
            opacity: 0.8;
            margin-left: 2%;
        }
        .upload-input{
            width: 60%;
            margin-left: 2%;
            margin-right: 38%;
            height: 40px;
            opacity: 0.8;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .form-submit{
            width: 20%;
            margin-left: 2%;
            margin-right: 78%;
            height: 30px;
            font-size: 18px;
            text-align: left;
            background-color: rgb(255, 247, 204);
            border-radius: 7px;
            margin-bottom: 600px ;
        }
        .form-submit:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
}

@media only screen and (min-width: 700px){
    
.upload-section{
    background: url('../img/globe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    .upload-paragraph{
        width: 99.5%;
        margin: 0 0 0 0.5%;
        font-size: 40px;
        font-weight: 100;
        opacity: 0.6;
        margin-bottom: 10px;
    }
    .upload-form{
        width: 60%;
        .upload-label{
            display: block;
            width: 98%;
            margin-left: 2%;
            opacity: 0.8;
            font-size: 22px;
        }
        .upload-input{
            width: 98%;
            margin-left: 2%;
            margin-right: 0;
            height: 40px;
            margin-bottom: 20px;
            border-radius: 15px;
            opacity: 0.8;
        }
        .form-submit{
            width: 25%;
            margin-left: 2%;
            margin-right: 73%;
            height: 30px;
            font-size: 18px;
            text-align: center;
            background-color: rgb(255, 247, 204);
            border-radius: 10px;
            margin-bottom: 600px ;
        }
        .form-submit:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
}
}