html,
*,
*:before,
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.upload-section{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 100px;
    .upload-paragraph{
        width: 98%;
        margin-left: 2%;
        font-size: 30px;
        font-weight: 100;
        opacity: 0.6;
        margin-bottom: 10px;
    }
    .upload-form{
        width: 100%;
        .upload-label{
            display: block;
            width: 98%;
            margin-left: 2%;
        }
        .upload-input{
            width: 60%;
            margin-left: 2%;
            margin-right: 38%;
            height: 40px;
            margin-bottom: 20px;
        }
        .form-submit{
            width: 20%;
            margin-left: 2%;
            margin-right: 78%;
            height: 30px;
            font-size: 18px;
            text-align: left;
            background-color: rgb(255, 247, 204);
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            margin-bottom: 600px ;
        }
        .form-submit:hover{
            color: white;
            background-color: rgb(255, 115, 0);
        }
    }
}